@import "../param";

.button {
  width: 200px;
  height: 40px;
  position: absolute;
  z-index: $zIndex-3;
  left: 50%;
  bottom: 100px;
  margin-left: -120px;
  //box-shadow: 3px 3px 0 0 darken($bg-1, $percent-3);
  //transition: 0.5s;

  &__text{
    width: 100%;
    position: absolute;
    z-index: $zIndex-3;
    background: $bg-2;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: $color-3;
    font-size: $fontSize-1;
    border-radius: 4px;
  }

  &__behind{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: -4px;
    background: darken($bg-2,20%);
    border-radius: 4px;

    //&:before{
    //  content: '';
    //  display: block;
    //  width: 100%;
    //  height: 50%;
    //  box-shadow: 3px 3px 0 0 darken($bg-1, $percent-3);
    //  position: absolute;
    //  bottom: -3px;
    //}
  }
}

.button.hide {
  bottom: 0;
  opacity: 0;
}

@media screen and (max-width: $mediaMaxWidth-1) {
  .button {
    bottom: 10px;
  }
}
@media screen and (max-height: $mediaMaxWidth-1) {
  .button {
    display: none;
  }
}