@charset "UTF-8";
/* font-size 14 16 20 24 - я┐╜я┐╜я┐╜я┐╜я┐╜я┐╜я┐╜я┐╜ 3*/
.game {
  /*width: 100%;*/
  height: 100%;
  overflow: hidden;
  position: relative; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

.typingCenter {
  height: 100%;
  display: table;
  text-align: center;
  margin: 0 auto;
  color: #7a7a7a;
  position: relative;
  z-index: 50; }

.typingCenter div {
  display: table-cell;
  vertical-align: middle; }

.typingCenter i {
  opacity: 0;
  font-size: 16px;
  line-height: 30px;
  font-style: normal; }

/*.shooterArea {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: fixed;*/
/*top: 0;*/
/*left: 0;*/
/*display: none;*/
/*color: #7a7a7a;*/
/*z-index: 50;*/
/*}*/
#shooterMouseArea {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /*display: none;*/ }

.shooter {
  width: 130px;
  height: 138px;
  background: url(../img/game/robot.png) no-repeat;
  position: absolute;
  /*top: 85%;*/
  top: 100%;
  left: 50%;
  margin-left: -65px;
  z-index: 50;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s; }

.shooter.show {
  top: 85%;
  opacity: 1; }

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #f1ff00;
  position: absolute;
  border: 1px dotted #c60202; }

.scoreBord {
  width: 300px;
  /*position: relative;*/
  position: absolute;
  top: -50px;
  transition: 0.5s;
  opacity: 0; }

.scoreBord.show {
  opacity: 1;
  top: 10px; }

.timeLimit {
  float: right; }

.timeLimitCounter {
  display: inline-block;
  font-size: 20px;
  position: relative;
  top: -3px; }

.loader {
  position: absolute;
  top: 28px;
  left: 1%;
  width: 100%;
  height: 34px;
  background: #c60202;
  overflow: hidden; }

.loaderSlip {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #f1ff00; }

.button {
  width: 200px;
  position: absolute;
  z-index: 150;
  bottom: 100px;
  left: 50%;
  margin-left: -120px;
  background: #c60202;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 0 0 #212121;
  transition: 0.5s;
  opacity: 1; }

.button.hide {
  bottom: 0;
  opacity: 0; }

.hiddenWindow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.results {
  /*display: none;*/
  position: absolute;
  width: 464px;
  height: 300px;
  z-index: 150;
  top: 50%;
  margin-top: -150px;
  background: #2b2b2b;
  box-shadow: 5px 5px 0 0 #212121;
  color: #7a7a7a;
  /*margin-left: -232px;*/
  left: -500px;
  opacity: 0; }

#leaders {
  left: 100%;
  padding-bottom: 12px; }

.results > div > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 20px; }

.results h3 {
  font-size: 24px;
  color: #fff;
  margin-top: 3px; }

.results ul {
  margin: 16px auto;
  width: 320px; }

.results li {
  display: block;
  line-height: 20px;
  position: relative;
  cursor: default;
  overflow: hidden; }

.results li:before {
  content: " ";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 6px;
  left: 0;
  border-bottom: 1px dotted #7a7a7a; }

.results li > div {
  float: left;
  text-align: right;
  font-style: normal;
  position: relative;
  z-index: 5;
  background: #2b2b2b;
  padding: 0 16px; }

.results li > div:nth-child(2) {
  float: right; }

.resultsClose {
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer; }

.resultsClose:before, .resultsClose:after {
  content: " ";
  width: 80%;
  height: 2px;
  background-color: #7a7a7a;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  left: 10%; }

.resultsClose:before {
  transform: rotate(45deg);
  transition: transform 0.29s cubic-bezier(0.5, 0, 0.3, 0.9) 0.1s; }

.resultsClose:after {
  transform: rotate(-45deg);
  transition: transform 0.29s cubic-bezier(0.5, 0, 0.3, 0.9); }

.record {
  color: #fff; }

#stopGame, #testEl {
  width: 100px;
  height: 100px;
  background: #fc0;
  position: absolute;
  z-index: 150;
  bottom: 0;
  left: 0; }

#testElclose {
  position: relative;
  right: 0;
  top: 0;
  background: #000;
  width: 50px;
  height: 50px; }

#resultNameInput {
  width: 100px;
  /*background: #7a7a7a;*/
  border: 0;
  padding: 2px 4px;
  outline: none; }

.linkBtn {
  color: #f1ff00;
  transition: 0.2s; }

.linkBtn:hover {
  opacity: 0.8;
  cursor: pointer; }

#twirl {
  width: 200px;
  height: 200px;
  background: #000;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  margin: -100px; }

.resultsTable, .leaderTable {
  width: 100%;
  display: table; }

#represent {
  display: none; }

.canvasLoader {
  position: absolute;
  top: 0;
  left: 0;
  /*box-sizing: border-box;*/ }

/*# sourceMappingURL=game.css.map */
