@import "../param.scss";

$opacity-1: 0.9;

.works-view {
  position: relative;
}

@media screen and (max-width: $mediaMaxWidth-1) {
  .works {
    top: 75px;
  }
}

.works-work {
  width: 300px;
  display: block;
  background: $bg-4;
  color: $color-2;
  position: absolute;
  cursor: pointer;

  text-decoration: none;
}

.works-work-title {
  height: 26px;
  padding-left: 10px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: 26px;
  position: relative;
}

.works-work-title > i {
  position: absolute;
  top: 6px;
  left: 2px;
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 3px;
  background: $bg-1;
  float: left;
}


.works-img {
  height: 250px; /* img */
  position: relative;
  overflow: hidden;
  background-size: cover;
}

/* shadow for img */
.works-img:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, .6) inset;
}

/* dark BG */
.works-img:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: $bg-1;
  position: absolute;
  top: -100%;
  opacity: 0;
  transition: 0.2s;
}

.works-img:hover:before {
  //top: 0;
  top: -50px;
  opacity: $opacity-1;
}

.works-img-desc {
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 19%;
  box-sizing: border-box;
  padding: 0 12%;
  text-align: center;
  transition: 0.2s;
  overflow: hidden;
}

.works-img:hover .works-img-desc {
  opacity: 1;
}

.works-img-desc > div {
  background: $bg-1;
  color: $color-1;
  text-transform: uppercase;
  padding: 2px;
  box-shadow: 2px 2px 0 0 darken($bg-1, $percent-3);
  display: inline-block;
  margin: 4px 0;
  position: relative;

  top: 150px;
  transition: $transition-1;
  /*transition: 0.1s cubic-bezier(1, 1.2, 1, 1.2);*/
}
.works-img:hover .works-img-desc > div {
  top: 0;
}

.works-logo {
  width: 100%;
  height: 20%;
  position: absolute;
  opacity: 0;
  bottom: -20%;
  box-sizing: border-box;
  transition: 0.2s;
  background: $bg-1 no-repeat center;
}
.works-img:hover .works-logo {
  opacity: $opacity-1;
  bottom: 0;
}

.skillsBox {
  overflow: hidden;
  text-align: center;
  padding: 0 10%;
}

.skills .stripe {
  top: 7px;
}

.skills .experience {
  margin-bottom: 20px;
}
.skills .experience:before {
  content: attr(data-experience);
  display: block;
  font-size: $fontSize-3;
  margin-bottom: 20px;
  color: $color-3;
}

.skills .works-work {
  width: 175px;
  display: inline-block;
  position: static;
  margin: 10px;
}

.skills .works-work-title {
  padding-left: 0;
  cursor: auto;
}

.skills .img-bg {
  height: 100%;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  position: relative;
}
