html {
  height: 100%; }

body {
  min-width: 320px;
  height: 100%;
  background: #2f2f2f;
  color: #cfcfcf;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  position: relative; }

body::-webkit-scrollbar {
  width: 3px; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

.page.rotate {
  animation: rotate 0.6s forwards; }

@keyframes rotate {
  0% {
    left: 0;
    transform: rotateY(0deg); }
  100% {
    left: 40%;
    transform: perspective(1500px) rotateY(90deg); } }
.page {
  width: 100%;
  min-height: 100%;
  padding: 100px 0 50px;
  overflow: hidden;
  margin: auto;
  box-sizing: border-box;
  position: absolute;
  left: -100%; }

@media screen and (max-width: 480px) {
  .page {
    padding-top: 50px; } }
ul {
  padding: 0; }

li {
  list-style-type: none; }

hr {
  height: 1px;
  background-color: #484848;
  max-width: 500px;
  border: 0;
  position: relative;
  left: 0;
  margin: 10px 0px; }

h1 {
  line-height: 39px; }

.white {
  color: #fff; }

.stripe {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  padding: 4px 0 2px; }

a {
  color: #fff;
  position: relative;
  z-index: 10;
  text-decoration: none; }

.stripe:before, .stripe:after {
  width: 100%;
  height: 50px;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  background: #434343;
  transition: 0.2s; }

.stripe:after {
  top: 50%;
  left: 100%; }

.stripe:hover:before, .stripe:hover:after {
  left: 0; }

.content {
  max-width: 840px;
  margin: auto;
  padding: 0 10% 100px;
  font-size: 16px;
  line-height: 26px; }
  .content li {
    list-style: circle;
    margin-left: 17px; }
  .content .with-link {
    line-height: 20px; }

@media screen and (max-width: 480px) {
  .content {
    padding: 0 10px; } }
.button {
  width: 200px;
  position: absolute;
  z-index: 30;
  left: 50%;
  bottom: 100px;
  margin-left: -120px;
  background: #c60202;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 0 0 #222222;
  transition: 0.5s;
  color: #fff;
  font-size: 14px; }

.button.hide {
  bottom: 0;
  opacity: 0; }

@media screen and (max-width: 480px) {
  .button {
    bottom: 10px; } }
@media screen and (max-height: 480px) {
  .button {
    display: none; } }
.results {
  position: absolute;
  width: 464px;
  z-index: 30;
  top: 50%;
  margin-top: -150px;
  background: #2c2c2c;
  box-shadow: 5px 5px 0 0 #222222;
  left: -500px;
  opacity: 0; }
  .results .resultsTable, .results .leaderTable {
    width: 100%;
    display: table; }
  .results > div > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px; }
  .results h3 {
    font-size: 22px;
    color: #fff;
    margin-top: 3px; }
  .results ul {
    margin: 16px auto;
    width: 320px; }
  .results li {
    min-height: 20px;
    display: block;
    line-height: 20px;
    position: relative;
    cursor: default;
    overflow: hidden; }
    .results li:before {
      content: " ";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 6px;
      left: 0;
      border-bottom: 1px dotted #cfcfcf; }
    .results li > div {
      float: left;
      text-align: right;
      font-style: normal;
      position: relative;
      background: #2c2c2c;
      padding: 0 16px; }
      .results li > div:nth-child(2) {
        float: right; }

@media screen and (max-width: 480px) {
  .results {
    width: 100%; }

  .results > div > div {
    padding: 20px 0; } }
#leaders {
  left: 100%; }

.resultsClose {
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer; }
  .resultsClose:before, .resultsClose:after {
    content: " ";
    width: 80%;
    height: 2px;
    background-color: #cfcfcf;
    position: absolute;
    top: 50%;
    transform-origin: 50% 50%;
    left: 10%; }
  .resultsClose:before {
    transform: rotate(45deg);
    transition: transform 0.29s cubic-bezier(0.5, 0, 0.3, 0.9) 0.1s; }
  .resultsClose:after {
    transform: rotate(-45deg);
    transition: transform 0.29s cubic-bezier(0.5, 0, 0.3, 0.9); }

.back-to-work {
  width: 28px;
  height: 28px;
  position: fixed;
  top: 35px;
  right: 85px;
  cursor: pointer;
  z-index: 10;
  margin-left: -14px;
  transition: 0.3s; }

@media screen and (max-width: 480px) {
  .back-to-work {
    top: 10px; } }
.back-to-work i {
  width: 8px;
  height: 8px;
  background: #ddd;
  position: absolute;
  transition: 0.3s; }

.back-to-work i:nth-child(1) {
  left: 0;
  top: 0; }

.back-to-work i:nth-child(2) {
  left: 10px;
  top: 0; }

.back-to-work i:nth-child(3) {
  left: 20px;
  top: 0; }

.back-to-work i:nth-child(4) {
  left: 0;
  top: 10px; }

.back-to-work i:nth-child(5) {
  left: 10px;
  top: 10px; }

.back-to-work i:nth-child(6) {
  left: 20px;
  top: 10px; }

.back-to-work i:nth-child(7) {
  left: 0;
  top: 20px; }

.back-to-work i:nth-child(8) {
  left: 10px;
  top: 20px; }

.back-to-work i:nth-child(9) {
  left: 20px;
  top: 20px; }

.back-to-work:hover {
  width: 48px;
  height: 48px; }

.back-to-work:hover i:nth-child(1) {
  left: 20px;
  top: 0px; }

.back-to-work:hover i:nth-child(7) {
  left: 20px;
  top: 20px; }

.back-to-work:hover i:nth-child(3) {
  left: 30px;
  top: 10px; }

.back-to-work:hover i:nth-child(9) {
  left: 40px;
  top: 10px; }

.sound {
  width: 30px;
  height: 28px;
  position: fixed;
  top: 35px;
  left: 32px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
  background: #2f2f2f; }

@media screen and (max-width: 480px) {
  .sound {
    top: 10px;
    left: 10px; } }
.sound i {
  width: 2px;
  background: #ddd;
  position: absolute; }

.sound.play i {
  animation: soundPlay 1s infinite alternate; }

.sound i:nth-child(1) {
  height: 12px;
  left: 0;
  animation-delay: 0.05s; }

.sound i:nth-child(2) {
  height: 20px;
  left: 4px;
  animation-delay: 0.1s; }

.sound i:nth-child(3) {
  height: 16px;
  left: 8px;
  animation-delay: 0.15s; }

.sound i:nth-child(4) {
  height: 24px;
  left: 12px;
  animation-delay: 0.2s; }

.sound i:nth-child(5) {
  height: 28px;
  left: 16px;
  animation-delay: 0.25s; }

.sound i:nth-child(6) {
  height: 20px;
  left: 20px;
  animation-delay: 0.3s; }

.sound i:nth-child(7) {
  height: 8px;
  left: 24px;
  animation-delay: 0.35s; }

@keyframes soundPlay {
  from {
    height: 30%; }
  to {
    height: 100%; } }
.topMenu {
  width: 28px;
  height: 28px;
  position: fixed;
  z-index: 200;
  right: 32px;
  top: 35px;
  cursor: pointer;
  transition: 0.3s;
  background: #2f2f2f; }

@media screen and (max-width: 480px) {
  .topMenu {
    top: 10px;
    right: 10px; } }
.topMenu i {
  width: 100%;
  height: 2px;
  background: #ddd;
  position: absolute;
  left: 0; }

.topMenu i:nth-child(1) {
  top: 0; }

.topMenu i:nth-child(2) {
  top: 13px; }

.topMenu i:nth-child(3) {
  top: 26px; }

.topMenu:not(.close):hover i:nth-child(1) {
  animation: menuSwing-1 0.3s 2 alternate; }

.topMenu:not(.close):hover i:nth-child(3) {
  animation: menuSwing-3 0.3s 2 alternate; }

@keyframes menuSwing-1 {
  from {
    top: 0; }
  to {
    top: 4px; } }
@keyframes menuSwing-3 {
  from {
    top: 26px; }
  to {
    top: 22px; } }
.topMenu.close i:nth-child(1), .topMenu.close i:nth-child(3) {
  animation: 0.3s 1 forwards; }

.topMenu.close i:nth-child(1) {
  animation-name: twirl-1; }

.topMenu.close i:nth-child(2) {
  display: none; }

.topMenu.close i:nth-child(3) {
  animation-name: twirl-2; }

@keyframes twirl-1 {
  from {
    transform: rotate(0deg);
    top: 0; }
  to {
    transform: rotate(45deg);
    top: 12px; } }
@keyframes twirl-2 {
  from {
    transform: rotate(0deg);
    top: 26px; }
  to {
    transform: rotate(-45deg);
    top: 12px; } }
.topNav {
  width: 100%;
  height: 100%;
  background: #2f2f2f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10% 0;
  box-sizing: border-box;
  transition: 0.3s; }

.topNav.hidden {
  top: -100%; }

.topNav a {
  width: 80%;
  height: 22%;
  background: #373737;
  display: table;
  margin: 0 auto;
  box-shadow: 0 0 0 15px #272727;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  transition: 0.9s;
  text-transform: uppercase; }

@media screen and (max-height: 300px) {
  .topNav {
    padding: 0; } }
.topNav a:hover {
  background: #434343; }

.topNav span {
  display: table-cell;
  vertical-align: middle; }

.social {
  margin-top: 30px; }
  .social > a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 18px 6px 50px;
    margin: 20px 10px 0 0;
    border-radius: 4px;
    background: #325c99 no-repeat 20px center;
    background-size: 15%;
    color: #fff;
    box-shadow: 3px 3px #222222; }
  .social .facebook {
    background-image: url("../img/svg/facebook.svg"); }
  .social .linkedin {
    background-color: #1178b3;
    background-image: url("../img/svg/linkedin.svg"); }
  .social .github {
    background-image: url("../img/svg/github.svg"); }

.game {
  height: 100%;
  overflow: hidden;
  padding-top: 80px; }

.typingCenter {
  height: 100%;
  display: table;
  text-align: center;
  margin: 0 auto;
  color: #cfcfcf;
  position: relative;
  z-index: 10; }

.typingCenter div {
  display: table-cell;
  vertical-align: middle; }

@media screen and (max-width: 480px) {
  .typingCenter div {
    vertical-align: top; } }
.typingCenter i {
  opacity: 0;
  font-size: 16px;
  line-height: 30px;
  font-style: normal; }

#shooterMouseArea {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20; }

.shooter {
  width: 130px;
  height: 138px;
  background: url(../img/game/robot.png) no-repeat;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -65px;
  z-index: 10;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s; }

.shooter.show {
  top: 85%;
  opacity: 1; }

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #f1ff00;
  position: absolute;
  border: 1px dotted #c60202; }

.scoreBord {
  width: 300px;
  height: 62px;
  position: absolute;
  top: -50px;
  transition: 0.5s;
  opacity: 0; }

.scoreBord.show {
  opacity: 1;
  top: 10px; }

@media screen and (max-width: 480px) {
  .scoreBord {
    width: 200px; }

  .scoreBord.show {
    top: -18px; } }
.timeLimit {
  float: right; }

@media screen and (max-width: 480px) {
  .timeLimit {
    position: absolute;
    left: 10px;
    bottom: 4px;
    z-index: 10;
    color: #2f2f2f; } }
.timeLimitCounter {
  display: inline-block;
  font-size: 22px;
  position: relative;
  top: -3px; }

.loader {
  position: absolute;
  top: 28px;
  left: 1%;
  width: 100%;
  height: 28px;
  background: #c60202;
  overflow: hidden; }

.loaderSlip {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #f1ff00; }

.hiddenWindow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

#resultNameInput {
  width: 100px;
  border: 0;
  padding: 2px 4px;
  outline: none; }

.linkBtn {
  color: #f1ff00;
  transition: 0.2s; }

.linkBtn:hover {
  opacity: 0.8;
  cursor: pointer; }

#represent {
  display: none; }

.canvas {
  position: absolute;
  top: 0;
  left: 0; }

.works {
  top: 100px; }

@media screen and (max-width: 480px) {
  .works {
    top: 75px; } }
.works-work {
  width: 300px;
  display: block;
  background: #ddd;
  color: #2f2f2f;
  position: absolute;
  cursor: pointer;
  text-decoration: none; }

.works-work-title {
  height: 26px;
  padding-left: 10px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: 26px;
  position: relative; }

.works-work-title > i {
  position: absolute;
  top: 6px;
  left: 2px;
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 3px;
  background: #2f2f2f;
  float: left; }

.works-img {
  height: 250px;
  /* img */
  position: relative;
  overflow: hidden;
  background-size: cover; }

/* shadow for img */
.works-img:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6) inset; }

/* dark BG */
.works-img:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #2f2f2f;
  position: absolute;
  top: -100%;
  opacity: 0;
  transition: 0.2s; }

.works-img:hover:before {
  top: -50px;
  opacity: 0.9; }

.works-img-desc {
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 19%;
  box-sizing: border-box;
  padding: 0 12%;
  text-align: center;
  transition: 0.2s;
  overflow: hidden; }

.works-img:hover .works-img-desc {
  opacity: 1; }

.works-img-desc > div {
  background: #2f2f2f;
  color: #cfcfcf;
  text-transform: uppercase;
  padding: 2px;
  box-shadow: 2px 2px 0 0 #222222;
  display: inline-block;
  margin: 4px 0;
  position: relative;
  top: 150px;
  transition: 0.3s;
  /*transition: 0.1s cubic-bezier(1, 1.2, 1, 1.2);*/ }

.works-img:hover .works-img-desc > div {
  top: 0; }

.works-logo {
  width: 100%;
  height: 20%;
  position: absolute;
  opacity: 0;
  bottom: -20%;
  box-sizing: border-box;
  transition: 0.2s;
  background: #2f2f2f no-repeat center; }

.works-img:hover .works-logo {
  opacity: 0.9;
  bottom: 0; }

/*@media screen and (max-width: 980px) {*/
/*}*/
/*@media screen and (max-width: 480px) {*/
/*}*/
/* in addition to work (will not work without works.css) */
.skillsBox {
  overflow: hidden;
  text-align: center;
  padding: 0 10%; }

.skills .stripe {
  top: 7px; }

.skills .experience {
  margin-bottom: 20px; }

.skills .experience:before {
  content: attr(data-experience);
  display: block;
  font-size: 22px;
  margin-bottom: 20px;
  color: #fff; }

.skills .works-work {
  width: 175px;
  display: inline-block;
  position: static;
  margin: 10px; }

.skills .works-work-title {
  padding-left: 0;
  cursor: auto; }

.skills .img-bg {
  height: 100%;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  position: relative; }

/*# sourceMappingURL=main.css.map */
