@import "param.scss";
@import "frame.scss";

@import "elements/stripe.scss";
@import "elements/content.scss";
@import "elements/btn.scss";
@import "elements/results";
@import "elements/backPage.scss";
@import "elements/sound.scss";
@import "elements/topNav.scss";


@import "page/game.scss";
@import "page/works.scss";
@import "page/desc.scss";
@import "page/contact.scss";
