.works {
    max-width: 1200px;
    min-height: 100%;
    /*padding: 0 10%;*/
    overflow: hidden;
    margin: 100px auto 0;
    box-sizing: border-box;
    position: relative;
}
.works-work {
    width: 300px;
    /*width: 44%;*/
    /*max-width: 200px;*/
    display: block;
    background: #ddd;
    /*margin: 20px 20px;*/
    color: #6a6a6a;
    position: absolute;
    /*float: left;*/
}
/*.works a:nth-child(odd) {*/
    /*float: left;*/
/*}*/
/*.works a:nth-child(even) {*/
    /*float: right;*/
/*}*/
.works-work-title {
    height: 26px;
    padding-left: 10px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 26px;
    position: relative;
}
.works-work-title > div {
    position: absolute;
    top: 6px;
}
.works-work-title i {
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
    background: #ff5f57;
    float: left;
}
.works-work-title i:nth-child(2)  {
    background: #ffbd2e;
}
.works-work-title i:nth-child(3) {
    background: #28ca41;
}
.works-img {
    height: 250px; /* img */
    position: relative;
    overflow: hidden;
    background-size: cover;
}
/* shadow for img */
.works-img:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    box-shadow: 0 0 50px rgba(0,0,0,.6)inset;
}
/* dark BG */
.works-img:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #222;
    position: absolute;
    top: -100%;
    opacity: 0;
    transition: 0.2s;
}
.works-img:hover:before {
    top: 0;
    opacity: 0.9;
}

.works-img-desc {
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 30%;
    box-sizing: border-box;
    padding: 0 15%;
    text-align: center;
    transition: 0.2s;
    overflow: hidden;
}
.works-img:hover .works-img-desc {
    opacity: 1;
}
.works-img-desc > div {
    background: #313131;
    color: #999;
    text-transform: uppercase;
    padding: 2px;
    box-shadow: 2px 2px 0 0 #212121;
    display: inline-block;
    margin: 4px 0;
    position: relative;

    top: 150px;
    transition: 0.3s;
    /*transition: 0.1s cubic-bezier(1, 1.2, 1, 1.2);*/
}
.works-img:hover .works-img-desc > div {
    top: 0;
}

.works-img img {
    width: 100%;
}

/*@media screen and (max-width: 980px) {*/
/*}*/
@media screen and (max-width: 650px) {
    .works {
        height: initial!important;
        position: static;
    }
    .works-work {
        width: 80%;
        margin: 20px auto;
        position: static;
    }
}
/*@media screen and (max-width: 480px) {*/
/*}*/

/*/////////////////////////////////////////////////////////////*/
/* in addition to work (will not work without works.css) */

.skills > div {
    overflow: hidden;
    text-align: center;
}
.skills .works-work {
    width: 175px;
    display: inline-block;
    background: #ddd;
    color: #6a6a6a;
    position: static;
}

.skills .works-work-title {
    padding-left: 0;
}
.skills .works-img {
    height: 130px;
}
.works-img-bg {
    height: 100%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}

.skills .works-img:before {
    top: 100%;
    background: green;
}
.skills .works-img:hover:before {
    top: 0;
}
