@import "../param.scss";

.topMenu {
  width: 60px;
  height: 27px;
  position: absolute;
  z-index: $zIndex-20;
  right: 32px;
  top: 35px;
  border-top: 2px solid $color-1;
  cursor: pointer;
  margin-top: 5px;
}

.topMenu:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: $color-1; // фон этого элемента больше относится к border, чем к bg!
  margin-top: 10px;
}

.topMenu:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: $color-1;
  margin-top: 10px;
}

.topMenu:not(.close):hover {
  margin-top: 0;
}

.topMenu:not(.close):hover:before {
  margin-top: 15px;
}

.topMenu:not(.close):hover:after {
  margin-top: 15px;
}

.topMenu, .topMenu:before, .topMenu:after {
  transition: 0.2s;
}

.topMenu.close, .topMenu.close:before, .topMenu.close:after {
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.topMenu.close {
  animation-name: twirl;
}

.topMenu.close:before {
  animation-name: twirl_top;
}

.topMenu.close:after {
  animation-name: twirl_bottom;
}


@keyframes twirl {
  from {
    border-top: none;
  }
  to {
    border-top: none;
  }
}

@keyframes twirl_top {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes twirl_bottom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
    margin-top: 0;
  }
}

.topMenu.close:hover {
  animation-name: round;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  border-top: none;
}

@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topNav {
  width: 100%;
  height: 100%;
  background: $bg-1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zIndex-10;
  padding: 10% 0;
  box-sizing: border-box;
  transition: 0.3s;
}

.topNav.hidden {
  top: -100%
}

.topNav a {
  width: 80%;
  height: 20%;
  background: lighten($bg-1, $percent-2);
  display: table;
  margin: 0 auto;
  box-shadow: 0 0 0 15px darken($bg-1, $percent-2);
  color: $color-3;
  text-decoration: none;
  font-size: $fontSize-2;
  text-align: center;
  transition: 0.9s;
  text-transform: uppercase;
}

.topNav a:hover {
  background: lighten($bg-1, $percent-4);
}

.topNav span {
  display: table-cell;
  vertical-align: middle;
}